/* Solution OF a Big Challange */
body {
	font-family: Arial, Helvetica, sans-serif;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body > div:not(.no-need):not(.no-need-2) h3 + div:nth-last-of-type(2):not(.no-need) {
	color: red;
}